.contact-button{

/* font: normal normal 600 14px/26px Poppins; */
letter-spacing: 1.4px;
color: #FFFFFF;
opacity: 1;
width: 150px;
background-color: #FF3147;
}

.carousel-indicators button {
    background-color: #000;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    border: none;
  }
  .carousel-indicators .active {
    background-color: #f00;
  }

.our-project-card{
    background-color: #F6F6F6;
}
/* #project-card-1{
    background-color: #FF3147;
} */

.card {
    cursor: pointer;
    transition: background-color 0.3s;
}
.icon-card {
    transition: box-shadow 0.3s; 
}
.icon-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.stats{
    font-size: 60px;
}
.stats-text {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300; 
  }

.feedback-text{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300; 
}

.box{
    width: 350px;
    /* border: 2px solid black; */
    position: relative;
    overflow: hidden;

}
.box img{
    width: 100%;
    height: auto;
}
.content{
    background-color: red;
    color: white;
    position: absolute;
    top: 0;
    /* left: 0%; */
    left: -100%;
    width: 100%;
    height: 100%;
    /* padding: 20px; */
    box-sizing: border-box;
    transition: all 0.3s;
    
}
.box:hover .content {
left: 0%;
}
.form-container {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-group label {
    font-weight: bold;
}
.btn-contact {
    background-color: #FF3147;
    border-color: #FF3147;
    color: white;
    font-size: 18px;
    width: 100%;
}
.btn-contact:hover {
    background-color: #e02b41;
    border-color: #e02b41;
}